<!--
{{license}}
-->

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-primary mt-1 mb-1">{{vue_open_brackets}}label{{vue_close_brackets}}</h2>
                <hr class="mt-0 mb-0"/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-center text-muted">
                {{vue_open_brackets}}description{{vue_close_brackets}}
                <hr class="mt-2 mb-0"/>
            </div>
        </div>
    </div>
</div>
