[Unit]
Description = {{projectname}} service
#After=postgresql.service

[Service]
Type = notify
ExecStart = /opt/wilton/bin/wilton {{mustache_open_brackets}}appdir{{mustache_close_brackets}}index.js -- --launch-systemd-service
User = {{mustache_open_brackets}}username{{mustache_close_brackets}}

[Install]
WantedBy = multi-user.target

