<ul class="pagination">
    {{#paginationButtons}}
        {{#normal}}
        <li class="page-item"><a class="page-link" href="{{url}}{{index}}">{{label}}</a></li>
        {{/normal}}
        {{#active}}
        <li class="page-item active"><a class="page-link" href="#">{{label}}</a></li>
        {{/active}}
        {{#ellipsis}}
            <li class="page-item disabled"><a class="page-link" href="#">{{label}}</a></li>
        {{/ellipsis}}
    {{/paginationButtons}}
</ul>
