<div class="page-header">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <a href="https://github.com/wilton-iot/wilton" target="_blank" class="btn btn-primary">GitHub</a>
        </div>
        <div class="btn-group">
            <a href="https://wilton-iot.github.io/wilton/docs/html/namespaces.html" target="_blank" class="btn btn-default">API Docs</a>
        </div>
    </div>
    <h2>Wilton Example App</h2>
</div>
